@using System.Web.Optimization
@using System.Web.Mvc
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<head>

    <script src="https://kit.fontawesome.com/7f069fe4dd.js" crossorigin="anonymous"></script>


    @Scripts.Render("~/js/jquery-3.5.1.min.js")

    <link rel="icon" href="~/images/logo.png" type="~/image/icon type" />
    @Styles.Render("~/js/jquery-ui.css")
    @Styles.Render("~/css/popup2.css")
    @Styles.Render("~/css/reset.css")
    @Styles.Render("~/css/default.css")
    @Styles.Render("~/css/master.css")
    @Styles.Render("~/css/theme.css")
    @Styles.Render("~/css/responsive.css")
    @Scripts.Render("~/js/jquery-ui.min.js")
    @Scripts.Render("~/js/master.js")
    @Scripts.Render("~/js/addpost.js")
    @Scripts.Render("~/js/search.js")
    @Scripts.Render("~/js/Common.js")
    @Scripts.Render("~/js/jpopup2.js")
    @Scripts.Render("~/js/quickfilter.js")
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
          rel="stylesheet" />
    <title></title>



</head>
<body>
    <div class="MasterHeader">
        <div class="max-width-content">
            <div>
                <div class="logo" onclick="RedirectPage('/DAK')">
                    <img src="~/images/logo.png" />
                    <span>DAK</span>
                </div>
                <div class="menu-master">
                    <div class="menu-master-list">
                        <div name="content-trang-chu" onclick="RedirectPage('/DAK')">
                            <div>
                                <i class="fas fa-home"></i>
                            </div>
                            <div >
                                Trang chủ
                            </div>
                        </div>                      
                        <div name="content-dang-tin" onclick="AddPost(this);" actiondata="/DAK/addpost">
                            <div>
                                <i class="fas fa-plus-square"></i>
                            </div>
                            <div>
                                Đăng tin                                
                            </div>
                        </div>
                        <div name="content-thong-bao">
                            <div>
                                <i class="fas fa-bell"></i>
                            </div>
                            <div>
                                Thông báo
                            </div>
                        </div>
                        <div name="content-tin-nhan">
                            <div>
                                <i class="fas fa-comments"></i>
                            </div>
                            <div>
                                Tin nhắn
                            </div>
                        </div>
                        <div name="content-ho-so-ca-nhan">
                            <div>
                                <i class="fas fa-user-circle"></i>
                            </div>
                            <div>
                                Hoàng
                            </div>
                        </div>
                        <div name="content-tim-kiem" style="display: none">
                        </div>
                    </div>
                </div>
                <div class="tim-kiem" onclick="OpenSearchContent();">
                    <input type="text" class="hasicon" placeholder="Tìm kiếm" /><i class="fas fa-search"></i>
                </div>
             
            </div>
        </div>
    </div>
   
    <div class="MasterBody">

        @RenderBody()
        <div name="content-tin-chi-tiet" style="display:none">
            <div class="panel-post-detail">
                <div class="post-detail-header-icon close-panel" onclick="CloseDetail();">
                    <i class="fas fa-times"></i>
                </div>
                <div class="post-detail-header-icon layout-change" onclick="ViewChangeLayout();">
                    <i class="far fa-eye"></i>
                </div>
                <div class="post-detail-content">
                    <div class="post-detail-photo">
                        <div>
                            <img src="../images/house.png" class="nha" />

                        </div>
                        <div>
                            <img src="../images/house.png" class="nha" />
                        </div>
                        <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div> <div>
                            <img src="../images/house.png" class="nha" />
                        </div>
                    </div>
                    <div class="post-detail-info">
                        <div class="detail-info-fixdiv">
                            <div class="detail-info-logo">
                                <img src="../images/logo.png" />
                                <div class="post-detail-icon-back" onclick="CloseDetail();">
                                    <i class="fas fa-arrow-left"></i>
                                </div>
                            </div>
                            <div class="button-bar">
                                <div>
                                    <div>
                                        <div>
                                            <div>
                                                <i class="far fa-heart "></i>
                                            </div>
                                            <div>
                                                Thích
                                            </div>
                                            <div>
                                                (100)
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <i class="far fa-bookmark"></i>
                                            </div>
                                            <div>
                                                Lưu tin
                                            </div>
                                            <div>
                                                (100)
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <i class="fas fa-share"></i>
                                            </div>
                                            <div>
                                                Chia sẻ
                                            </div>
                                            <div>
                                                (100)
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <i class="far fa-comment-dots"></i>
                                            </div>
                                            <div>
                                                Bình luận
                                            </div>
                                            <div>
                                                (100)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-info-line">
                            </div>
                            <div class="gia-tien">
                                1 Tỷ
                            </div>
                            <div class="tinh-nang">
                                <div>
                                    <div>
                                        <span><i class="fas fa-bed"></i>2 </span><span>
                                            <span class="vach-ngan">|</span> <i class="fas fa-toilet"></i>2
                                        </span><span>
                                            <span class="vach-ngan">|</span> <i class="fas fa-ruler-combined">
                                            </i>50m2
                                        </span> <span><span class="vach-ngan">|</span><i class="fas fa-book-open"></i></span>
                                        <span>
                                            <span class="vach-ngan">|</span><i class="fas fa-car"></i><span class="item-info-text"
                                                                                                            style="display: none">5m</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both">
                            </div>
                            <div class="dia-chi">
                                <div>
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div>
                                    167 Trần Trọng Cung, P.Tân Thuận Đông, Q.7, HCM
                                </div>
                            </div>
                            <div class="thong-tin-nguoi-dang">
                                <div class="ten-nguoi-dung">
                                    <i class="far fa-user"></i>Hoàng Quan
                                </div>
                                <div class="date-time">
                                    1 ngày trước
                                </div>
                            </div>
                            <div class="detail-info-button-tools">
                                <div class="button-light">
                                    Liên Hệ
                                </div>
                                <div class="button-dark" style="margin-left:10px">
                                    Đặt Lịch Hẹn
                                </div>
                            </div>
                        </div>
                        <div class="detail-info-scrolldiv">
                            <div class="detail-info-views-saves">
                                Xem 250 | Thích 200 | Lưu tin 25 | Chia sẻ 5 | Bình luận 4
                            </div>
                            <div class="detail-info-line">
                            </div>

                            <div class="detail-info-group-title">
                                Mô tả
                                <div class="group-icon-content">
                                    <i class="fas fa-caret-up"></i><i style="display: none" class="fas fa-caret-down">
                                    </i>
                                </div>
                            </div>
                            <div class="mo-ta-thong-tin">
                                Đây là khu dân cư yên tĩnh, văn minh, có an ninh riêng. Nội khu đầy đủ tiện ích như hồ bơi, sân tennis, trung tâm mua sắm, cạnh trường Quốc tế Emasi, cách trungtâm thành phố 20 phút đi xe, gần siêu thị Vincom, Big C và Trung tâm thương mại Crescent Mall Phú Mỹ Hưng.
                                Mô tả căn biệt thự: Biệt thự mặt tiền đường Số 8, khu
                                dân cư Nam Long Trần Trọng Cung, Quận 7.
                                Diện tích: 12 x 24m (288m2). Sổ đỏ chính
                                chủ. Nhà 1 trệt 2 lầu, có sân vườn rộng rãi, có gara xe hơi, sân thượng.
                                Nhà đẹp, sạch sẽ, tiện nghi. 6 phòng ngủ. Giá bán: 24 tỷ đồng có thương lượng. Quý khách
                                có nhu cầu mua, xin liên hệ Duy Trường.
                            </div>
                            <div class="detail-info-line">
                            </div>
                            <div class="detail-info-group-title">
                                Tính Năng<div class="group-icon-content">
                                    <i class="fas fa-caret-up"></i><i style="display: none" class="fas fa-caret-down">
                                    </i>
                                </div>
                            </div>
                            <div class="list-item-more-info">
                                <div>
                                    <div>
                                        <i class="fas fa-dollar-sign"></i>
                                    </div>
                                    <div>
                                        Giá
                                    </div>
                                    <div>
                                        1 Tỷ
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <i class="fas fa-bed"></i>
                                    </div>
                                    <div>
                                        Phòng Ngủ
                                    </div>
                                    <div>
                                        2
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <i class="fas fa-toilet"></i>
                                    </div>
                                    <div>
                                        Nhà Vệ Sinh
                                    </div>
                                    <div>
                                        2
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <i class="fas fa-ruler-combined"></i>
                                    </div>
                                    <div>
                                        Diện Tích
                                    </div>
                                    <div>
                                        50 (m2) <span class="kich-thuot">
                                            <br />
                                            (ngang 5m x dọc 10m)
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <i class="fas fa-book-open"></i>
                                    </div>
                                    <div>
                                        Pháp Lý
                                    </div>
                                    <div>
                                        Sổ Hồng
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <i class="fas fa-hand-holding-usd"></i>
                                    </div>
                                    <div>
                                        Ngân Hàng
                                    </div>
                                    <div>
                                        Techcombank
                                    </div>
                                </div>
                                <div style="display: none">
                                    <div>
                                        <i class="fas fa-car"></i>
                                    </div>
                                    <div>
                                        Nhà Hẻm
                                    </div>
                                    <div>
                                        Hẻm Xe Hơi <span class="kich-thuot">(5 mét)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-info-line">
                            </div>
                            <div class="detail-info-group-title">
                                Liên hệ
                                <div class="group-icon-content">
                                    <i class="fas fa-caret-up"></i><i style="display: none" class="fas fa-caret-down">
                                    </i>
                                </div>
                            </div>
                            <div class="lien-he-nguoi-dang">
                                <div>
                                    <div>
                                        <div>
                                            <div>
                                                Họ tên
                                            </div>
                                            <div>
                                                <input type="text" />
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                Điện thoại
                                            </div>
                                            <div>
                                                <input type="text" />
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                Email
                                            </div>
                                            <div>
                                                <input type="text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <div>
                                                Nội dung
                                            </div>
                                            <div>
                                                <textarea style="height:166px"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <input type="button" class="button-dark" value="Gửi" style="width:100%" />
                                </div>
                            </div>
                            <div class="detail-info-line">
                            </div>
                            <div class="detail-info-group-title">
                                Đặt lịch hẹn
                                <div class="group-icon-content">
                                    <i class="fas fa-caret-up"></i><i style="display: none" class="fas fa-caret-down">
                                    </i>
                                </div>
                            </div>
                            <div class="dat-lich-hen">
                                <div>
                                    <div class="chon-ngay">
                                        <div>
                                            Chọn ngày
                                        </div>
                                        <div>
                                            <div>
                                                Hôm nay, 27/11/2020
                                            </div>
                                            <div>
                                                Ngày mai, 28/11/2020
                                            </div>
                                            <div>
                                                Thứ 2, 29/11/2020
                                            </div>
                                            <div>
                                                Thứ 3, 30/11/2020
                                            </div>
                                            <div>
                                                Thứ 4, 1/12/2020
                                            </div>
                                            <div>
                                                Thứ 5, 2/12/2020
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chon-gio">
                                        <div>
                                            Hẹn lúc
                                        </div>
                                        <div>
                                            <select>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>

                                                <option>7</option>

                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>

                                            </select>
                                            Giờ
                                        </div>
                                        <div>
                                            <select>
                                                <option>00</option>
                                                <option>10</option>
                                                <option>15</option>
                                                <option>20</option>
                                                <option>30</option>
                                                <option>45</option>
                                                <option>50</option>
                                            </select>
                                            Phút
                                        </div>
                                        <div>
                                            <select>
                                                <option>Buổi Sáng</option>
                                                <option>Buổi Chiều</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <input type="button" class="button-light" style="width:100%;margin-top:20px" value="Đặt hẹn" />
                                    </div>

                                </div>
                            </div>
                            <div class="detail-info-line">
                            </div>
                            <div class="detail-info-group-title">
                                Xem Bình Luận
                                <div class="group-icon-content">
                                    <i style="display: none" class="fas fa-caret-up"></i><i class="fas fa-caret-down">
                                    </i>
                                </div>
                            </div>
                            <div class="xem-binh-luan">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="back-to-top" onclick="BacktoTop_click()"><i class="fas fa-chevron-up"></i></div>
    </div>
    <div class="MasterFooter">
        <div>
            Contact
        </div>
        <div>
            License Version
        </div>
    </div>


</body>
</html>

